/*reset*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Antic Slab', serif;
    font-family: 'Roboto Condensed', sans-serif; 
}

body {
    
    min-width: 100vw;

}



h1 {text-align: center;
margin-top: 50px;}
#btn-menu {
    display: none;
}
 header label { 
     display: block; 
     display: none;  
 }
 header label:hover {
     cursor: pointer;
     background: rgba(0, 0, 0, 0.3);
 }

.quienes-somos, form, .productos{
   padding: 20px;
}
/* header */ 

header {
    grid-area: header;
    align-items: center;
    width: auto;
    height: 10vh; 
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    background: rgb(1,20,28);
    background: linear-gradient(90deg, rgba(1,20,28,1) 31%, rgba(53,73,153,1) 31%);
   
    padding-left:20px ;
    padding-right:20px ;
   
   
}
.servicio-tecnico img {
    width:100%;
    height: 200px;

}


header img {
    width: auto;
    height: 70px;
}


@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
--color: rgb(5, 7, 48); 
}

body {
  font-family: 'Red Hat Text', sans-serif;
}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */

}



p {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.leer-mas {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
}


.other {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

.second {
  background-image:url(img/58888-ingenieria.jpg);
  background-attachment: fixed;
  height: auto;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 1em;
}

.card > .leer-mas {
  margin-bottom: 2em;
}

.item {
  display: flex;
  max-width: auto;
  background-color: white;;
  flex-direction: column;
  align-items: center;
  border-radius: .5em;
  -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
  box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
}

.img {
  width: 100%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  border-radius: .3em;;
}

.img-first {
  background-image: url(img/banco\ de\ prueba.jpg.webp);
}

.img-second {
  background-image: url(img/bombas/reductorplanetario.jpg);
}

.img-third {
  background-image: url(img/fabrica-cilindros-hidraulicos.jpg);
}

.second {
  flex-direction: row;
  gap: 8%;
}

 




.nav-list li {
    
   
    display: inline-block;
   padding: 10px;
    list-style: none;
}
.nav-list a {
    
    color: rgb(244, 242, 252);
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none; 
}

.nav-list a:hover{
    color: #354999
}
h3 {
    text-align: center;
   
}


.productos div {
    align-self: baseline;
    width: 100%;
    
    display: inline-block;
    

}


.productos p  {
    padding: 10px;
}

.productos img {
   
    width: 250px;
    height: 250px;
    
}
.productos a {
    background-color: rgb(9, 8, 8);
    
    color: rgb(230, 228, 228);
    text-decoration: none;
    border-radius: 2px;
   
}

.productos {
 grid-area: productos;
    display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: 1fr 1fr;
   grid-gap: auto;
justify-items: stretch;
align-items: stretch;
  
  
}


.bomba3 {
   width:100px ;
   height:100px ;
    
}

    
    



form h2{
    font-family: monospace;
    color: rgb(244, 245, 246);
  
    text-align: left;
}

.divform {
    height: 20%;
    background-image: url("img/58888-ingenieria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
   
form {

    width: 100%;
    height: 350px
   
}

 input, textarea {
    width: 50%;
    padding: 8px;
    font-size: 17px;
   
   
   
}
textarea {
   height: auto;
   
}

#form-btn {
    padding: 20px;
    color: #fff;
    background-color: #2d0682;
    border-radius: 10px;
    width: 50%;
    height: auto;
}

#form-btn:hover {
    cursor: pointer;
}






footer a {
    text-decoration: none;
}



 


.marcas {
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    padding: 0 20px ;
    height: 45px;
    
    
}
.marcas img {
    width:80px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;  
}


footer {
    grid-area: footer;
}

footer li {
    color: rgb(216, 216, 216);
}

footer p {
    font-size: 20px;
    color: rgb(216, 216, 216);
  
}
.footer1 {
    display: flex;
    width: auto;
    height: 15vh;
    background: #191c29;
   
    justify-content: space-around;
    border: 1px solid rgb(34, 34, 34);
    align-items: center;
    
}


.footer-right img {
    
    width: 60px;
    height: auto;
    padding-right: 15px;
    
   
}
.logo img{
   align-self: center;
    width: 150px;
    height: auto;
    
}



#derechos h4 {
    padding: 10px 0;
    font-size: 16px;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: black;
    color: #fff;

    
}


.lista-footer li {
    list-style: none;
}

@media (max-width: 700px)  {
    .body {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header header"
          "servicio-tecnico servicio-tecnico"
          "productos productos"
          "footer footer"; 
      }
      form h2 { 
          padding-bottom: 30px 0 ;
          text-align: center;
          background-color: #2d0682;
          border-radius: 50px;
          
      }

   form {
       
       padding: 80px 30px;
       
   }
    
    header label {
        display: block
    }
    nav ul {
        display: none
    }
   
    .productos {
        grid-area: productos;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
        grid-gap: 20px;
       justify-items: stretch;
       align-items: stretch;
  }

  #derechos p { justify-items: center;

  }
  .logo {
    display: none;
}
.productos div {
    display: inline;
    align-items: center;
    justify-content: center;}

    .footer-right, .footer-left {
   
       margin: 30px
    }
    .marca1, .marca2, .marca5, .marca6, .marca7 {
        display: none;
    }
  

@media (max-width: 500px) {
    .container{
   
        display: inline-block;
        
      
    }
    .other {min-height: 100vh;}
    
    .item {
        border: 1px solid;
       margin: 20px 0;
    }
header { 
    justify-content: space-between;
    background: rgb(1,20,28);
    background: linear-gradient(90deg, rgba(1,20,28,1) 31%, rgba(53,73,153,1) 31%);
}
    .body {
        display: grid; 
        grid-template-columns: 1fr ; 
        grid-template-rows: 1fr 1fr 1fr ; 
        gap: 0px 0px; 
        grid-template-areas: 
          "header"
          "servicio-tecnico"
          "productos"
          "footer"; 
      }

    header label {
        display: block
    }
    nav ul {
        display: none
    }
   
    .productos {
        grid-area: productos;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-gap: 20px;
       justify-items: stretch;
       align-items: stretch;
  }
  

  #derechos p { justify-items: center;

  }


.logo {
    display: none;
}

.productos div {
    display: inline;
    align-items: center;
    justify-content: center;}
}
input, textarea, #form-btn {
   width: 100%;

  
}

.divform { 
    height: 50vh;
}


.servicio-tecnico {
    display: inline-block;
    width: 30vh;
}
.footer1 { height: 30vh;}


}
